@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px; 
  --color-primary: #00A7F3;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    @apply bg-[#f7fafe] dark:bg-gray-900 dark:text-white transition-colors duration-200;
    overflow-x: hidden;
  }
}

